{
  "env": {
    "targets": {
      "node": 20
    }
  },
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "baseUrl": "./",
    "paths": {
      //   "@/sample": ["src/sample.ts"]
    }
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": "inline"
}
